[2016-12-01 07:07] eswarbala opened #44 "[Proposal] Support for Mesos Scheduling Frameworks"
### Description

This feature supports Mesos scheduling frameworks, such as Marathon and Chronos, with Amazon ECS.

### Motivation

The Mesos ecosystem has scheduling frameworks that cover a wide range of use cases. This feature lets customers choose from existing schedulers that meet their needs. It also enables customers that already use Mesos scheduling frameworks to continue to use those frame

[2016-12-01 07:10] eswarbala opened #45 "[Proposal] Support Time based Task deployments"
### Description

This feature provides the ability to launch task definitions at a specified time or frequency using a cron-like syntax.

### Motivation

Many system maintenance and batch jobs need to be automatically run at a specified time or frequency.

### Use cases

* Ability to aggregate data in a database for reporting, auditing, etc.
* Ability to backup data at a particular time.
* Ability

[2016-12-01 07:12] eswarbala opened #46 "[Proposal] Support Identity for scheduled services"
### Description
This feature provides the ability to associate specific resources to a task that survives task restarts, such as a unique token, DNS hostname or data volume.

### Motivation
Strong identity is cornerstone in running persistent applications that have a notion of membership. Identity is provided by either supplying the same token at launch/relaunch of a task instance, providing the s

[2016-12-01 07:14] eswarbala opened #47 "[Proposal] Support highly available Blox deployments"
### Description
Currently Blox is a single instance application stack that can be run locally or orchestrated by ECS. In order to provide better resiliency to failures, every component in the Blox framework should be highly available. Blox is made of stateless services along with a stateful datastore. All the components should be configured to restart automatically upon exit in order to improve th

[2016-12-01 07:17] eswarbala opened #48 "Add metrics to cluster-state-service"
cluster-state-service should gather metrics to help assess the operational characteristics and expose it via an API endpoint. For example, metrics such as number of ECS events processed, number of reconciliations, last reconciliation time, next reconciliation time.

[2016-12-01 07:19] eswarbala opened #49 "Support retention of terminal records independent of ECS retention"
Currently ECS cleans up terminal cluster state, like stopped tasks, from its database after a certain period of time. When cluster-state-service reconciles, and learns about the terminal records being cleaned up by ECS, these records are also cleaned up from local store. We should look into providing a configurable retention period of terminal records so that the data is available for auditing, de

[2016-12-01 07:20] eswarbala opened #50 "Support version parameter in Streaming API"
Streaming API in cluster-state-service allows any consumer to listen for state changes in a streaming fashion. This API should support a fromVersion parameter so that any consumer can catch up to the events from the point where they dropped off.

[2016-12-01 07:22] eswarbala opened #51 "Update Swagger spec with streaming APIs"
Swagger JSON should expose cluster-state-service streaming APIs.

[2016-12-01 07:23] eswarbala opened #52 "Pagination for list and filter APIs"
List and Filter APIs in cluster-state-service should support pagination when returning responses.

[2016-12-01 07:24] eswarbala opened #53 "List Resources API"
Provide an API that will return the available and remaining resources in a container instance.

[2016-12-01 07:25] eswarbala opened #54 "Filter based on remaining resources"
Provide an API that can be used to search for container instances with available resources. For example, query to identify instances with 128 M and 2 CPUs available. This can be used by schedulers to quickly identify possible container instances to place a task on.

[2016-12-01 07:25] eswarbala opened #55 "Metadata API for cluster-state-service"
Add a metadata API to cluster-state-service which prints version info and any other metadata that we want to expose.

[2016-12-01 07:26] eswarbala opened #56 "CloudWatch logs for cluster-state-service"
Add support for CloudWatch logs for cluster-state-service container.

[2016-12-01 07:27] eswarbala opened #57 "Add metrics to daemon-scheduler"
daemon-scheduler should gather metrics to help assess the operational characteristics and expose it via an API endpoint. For example, metrics such as number of deployments created, number of environments, scheduling latency.

[2016-12-01 07:28] eswarbala opened #58 "API to get environment for a cluster ARN"
Provide an API to get environment for a particular cluster name or ARN.

[2016-12-01 07:29] eswarbala opened #59 "API to get environment based on started_by"
Provide a filter API to get environment based on started_by field.

[2016-12-01 07:30] eswarbala opened #60 "Use etcd transactions when adding environment and deployment"
Etcd v3 supports transactional model for CRUD operations. All the environment and deployment operations need to be implemented using the transactional APIs provided by etcd.

[2016-12-01 07:31] eswarbala opened #61 "Input validation"
Validate input parameters like cluster name, task definition and deployment tokens to daemon-scheduler APIs.

[2016-12-01 07:32] eswarbala opened #62 "Metadata API"
Add a metadata API to daemon-scheduler which prints version info and any other metadata that we want to expose.

[2016-12-01 07:33] eswarbala opened #63 "CloudWatch logs for daemon-scheduler"
Add support for CloudWatch logs for cluster-state-service container.

[2016-12-01 07:34] eswarbala opened #64 "CI setup"
Setup Travis CI for triggering builds upon PR request, checkins

[2016-12-01 07:34] eswarbala opened #65 "Tune etcd configuration"
Investigate and tune etcd configuration for optimal operation for Blox workloads.

[2016-12-01 18:34] iroller opened #66 "[Proposal] Support for Kubernetes"
# Description

This feature supports [Kubernetes](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/scheduler.md) framework.

 It is currently possible to run [Kubernetes on AWS](http://kubernetes.io/docs/getting-started-guides/aws/) but the whole setup is complex and having it as a managed service integrated with AWS would be great.

EDIT: As it is mentioned in [comments](https://gi

[2016-12-01 18:34] bigkraig commented on #66
👍

[2016-12-01 18:52] josephjacks commented on #66
Great to see this issue. Thanks for creating @iroller. I have seen a huge # (200+) of customers and users of K8s ask for this.

[2016-12-01 18:56] josephjacks commented on #66
@iroller I've seen a huge # of K8s users ask for this. Thanks.

Perhaps a better way of framing this request would be to build a first-class supported K8s API for all the app and cluster abstractions one could execute in ECS?

[2016-12-01 18:59] josephjacks commented on #45
@eswarbala would it make sense to inherit the native capabilities in K8s for this once #66 is built? K8s has had support for one-off jobs/tasks for a while and cron-style scheduling was also recently introduced in K8s 1.3 IIRC.

[2016-12-01 19:43] isubuz commented on #66
@josephjacks Agree, from first thoughts, the idea of blox is not about K8s infrastructure and implementing *Kubernetes as a service*. If anything, the request should be about the API abstractions as rightly mentioned above.

[2016-12-01 20:36] jhspaybar opened #67 "Implement the existing AWS API for all list and describe calls"
Rather than a separate client and separate API I'd prefer to just use the existing AWS SDK and command line tools to query my cluster state from this system, just without the risk of throttling that exists when speaking to the hosted API.

It'd also be cool if it implemented the various write APIs as well and forwarded them, but that's probably less valuable for me.

[2016-12-01 21:46] jhspaybar commented on #47
Rather than having to maintain an available etcd cluster, I'd prefer to just run the data store on each node that needs the data and to allow for multiple nodes to consume the same event stream(maybe kinesis instead of sqs to support that).  Maybe both directions are valuable, but I'd prefer consumption from a kinesis stream with N consumers so that I don't have to maintain the etcd quorum.

[2016-12-02 01:15] bacoboy commented on #66
Agreed.  k8s is a very different programming model from ECS (and schedulers like Mesos).

I can think of a couple people who'd be very interested in a hosted k8s AWS service, but I wouldn't hold my breath, but that isn't what Blox is trying to solve.

Think of it more like:

ECS is to Mesos
as
Blox is to Marathon

My vote (if I had one) would be 👎  and close this...

[2016-12-02 01:37] josephjacks commented on #66
@bacoboy By that logic this proposal makes even more sense. The Mesos world loves to tout their K8s framework.

[2016-12-02 16:35] djenriquez opened #72 "Support multiple data stores"
Are there any plans for the cluster-state-service to support other data stores such as Consul?

On a side-note, is there a better place to ask questions like these?

[2016-12-02 18:46] adam-finney commented on #72
It would be nice to see external datasources such as DynamoDB used.

[2016-12-03 01:01] jhspaybar commented on #67
Is this something you'd be open to taking as a pull request?  It isn't clear to me where I can help.

[2016-12-03 20:02] simplycloud commented on #72
@djenriquez we have discussed what it would take to make the data store pluggable. we decided to start with etcd, but we are open to supporting other data stores over time.

[2016-12-03 20:11] simplycloud commented on #67
@jhspaybar we are currently thinking to add cluster-state-service api support into the ecs-cli. this would allow us to continue to add functionality and features to a single common toolset for working with Amazon ECS.

we hope to have a proposal for what that might look like shortly and i'll reference it here so that anyone can comment and share ideas / feedback.

[2016-12-03 21:58] jhspaybar commented on #67
Thanks @simplycloud for the reply.  That does sound helpful.  The primary use case I'm thinking about though is if I were to write a scheduler in Java using the existing AWS SDK for ECS and start to run into throttles, I'd like to be able to just change my target to something like localhost:1234 where the ecs-cluster-state agent is running and have everything continue to work just without risk of

[2016-12-03 23:52] djenriquez commented on #72
Is there a specific pattern that we as the community can follow and help add such data stores?

[2016-12-05 18:41] kiranmeduri commented on #67
I like the idea of @jhspaybar to conform to AWS ECS APIs for the following reasons

- Leverage AWS SDK across multiple languages as a path to interact with cluster-state-service.
- Scheduler or other client code may not need to change if they already are using AWS ECS APIs for getting cluster-state.

However I have following concerns which need to be addressed

- Authn/Authz support similar to AWS

[2016-12-05 18:47] kiranmeduri commented on #72
I would start [here](https://github.com/blox/blox/blob/dev/cluster-state-service/handler/store/datastore.go#L35). However at this point the configuration when starting cluster-state-service expects SQS and etcd. This configuration need to be generalized to support other event-streams (like kinesis #77) and stores (like DynamoDB, Consul).

[2016-12-05 22:30] samuelkarp opened #80 "Generating `license.go` is non-deterministic"
It looks like generating `license.go` is non-deterministic; I get a different order when running on my Ubuntu laptop than what is checked in here.  `license.sh` does [shell globbing](https://github.com/blox/blox/blob/3f58577/daemon-scheduler/scripts/license.sh#L50) which can differ between machines.

[2016-12-05 22:49] kylbarnes commented on #80
Logged as bug. Thanks for finding this.

[2016-12-07 08:00] jhspaybar opened #83 "Flaky Test?"
I'm still new to Go and the testing framework being used, but sometimes when I run `make` it will fail with 1 error and this looks like it might be related.

[code]

[2016-12-07 18:23] narehayrapetyan commented on #83
Thanks for catching it Will, let me try and reproduce it.

[2016-12-07 19:51] narehayrapetyan commented on #83
I haven't been able to reproduce it so far, it always works for me.

[2016-12-07 19:55] poojamaiya commented on #83
I haven't been able to reproduce it either. Will, do you have any additional details here that might help? Thanks!

[2016-12-08 23:59] poojamaiya opened #86 "Support for multiple accounts"
Today, CSS consumes data for clusters within a single account. We should add support for multiple accounts.

Also, since we deal with a single account, APIs referring to entities (like cluster, etc.) by just names and not ARNs work fine. We'll have to figure out a way for data disambiguation when we support multiple accounts.

[2016-12-09 16:43] aaithal commented on #86
I'm unclear about the use-case here. Enabling cluster-state-service to save information about clusters belonging to multiple accounts seems like an easy **privilege escalation** exploit, which can lead to all sorts of undesired behaviors. Especially since there's no strong auth scheme for CSS.  Shouldn't we be concerned more about making sure that CSS only saves the cluster-state **only if** one h

[2016-12-09 17:30] jhmartin commented on #63
Isn't this a docker configuration (the awslogs driver) ?

[2016-12-09 17:48] jhmartin commented on #47
@jhspaybar or perhaps store the data in a durable store such as dynanomodb or RDS, so that EC2 nodes do not to maintain quroum.

[2016-12-09 17:50] jhmartin commented on #72
As a cluster-management tool, it would be very useful for blox to store its data outside EC2 (such as RDS or dynamodb) -- something persistent that can survive EC2 failures.

[2016-12-09 18:10] poojamaiya commented on #86
@aaithal Yes, supporting multiple use cases will lead to privilege issues. I was thinking more along the lines of enabling this for all clusters across accounts that the user has permissions to list/describe like you mentioned. We'll have to think through the design in depth. My bad for not pointing out the privilege escalation issues that this will introduce. Thanks for pointing it out here.

`I

[2016-12-10 05:30] asifamz opened #88 "update "deploy CFT on AWS" to infer available AZ using intrinsic function"
my first runs to get blox up on AWS failed due to mapping on the CFT, and it rolled back.
a more graceful experience  can be to use:

"AvailabilityZone" : {
        "Fn::Select" : [ "0", { "Fn::GetAZs" : "" } ]
        },

The CFT will get the available AZ and CFT picks from them to create subnet,

[2016-12-12 02:11] hridyeshpant opened #89 "cluster-state-service task is failing"
Hi ,
I am using AWS installation mentioned in https://github.com/blox/blox/tree/dev/deploy#local-installation.
But after successfully running the service, i am still seeing below error for  bloxoss/cluster-state-service:0.1.0 task is failing with below error :
2016-12-12T02:06:29Z [INFO] Reconciler loading tasks and instances
2016-12-12T02:07:29Z [CRITICAL] Error starting event stream handler: Err

[2016-12-12 04:50] jhspaybar commented on #83
I think I found another one.  I'm just running `make` in the cluster-state-service directory.  I don't think I'm doing anything special.

[code]

[2016-12-12 17:39] kylbarnes commented on #88
@asifamz can you paste the exact command you ran, and the reason for the failure? I'll try to duplicate on my side. Were you using an AWS account with administrator permissions, or an account with a locked down permission set?

[2016-12-12 17:55] poojamaiya commented on #89
@hridyeshpant My best guess here is that the service is having issues talking to etcd although I'm unable to reproduce it. Are you using the AWS installation or the local setup? Do you have any additional details that you can share that may help us? Thanks!

[2016-12-12 19:07] poojamaiya commented on #58
Implemented in #87

[2016-12-12 19:07] #58 closed

[2016-12-12 19:46] asifamz commented on #88
i ran aws --region <region> cloudformation create-stack --stack-name BloxLocal --template-body file://./deploy/docker/conf/cloudformation_template.json

at the time, i did not have a default VPC , the error was at the subnet creation step as it did not find the AZ in the mapping.

[2016-12-12 20:39] michaelgruber opened #91 "Support environment updates"
The daemon-scheduler api and demo cli don't seem to support updating environments. I've been deleting, stopping tasks manually, and recreating when I modify a task definition. Updating an environment to a new revision and having changes propagate to existing deployments would be useful.

[2016-12-12 20:56] wliao008 opened #92 "daemon-scheduler constraint doesn't hold in manual start of the container"
I was testing daemon-scheduler locally and observed this behavior:

* I created an environment and deployment for the daemon-scheduler. The service involved in ECS currently has 0 container running. There are 3 hosts.
* The daemon deployed and 1 copy of the container is running on each host.
* I ssh'd onto one of the hosts, killed the container, looking at the log, as expected, a new one got start

[2016-12-12 21:00] poojamaiya commented on #91
Thanks @michaelgruber. That is correct, the daemon scheduler today does not support updates to environments. We are currently working on a proposal to get this work started. Thanks for creating this issue.

[2016-12-12 21:11] poojamaiya commented on #92
This is the expected behavior. Daemon scheduler works independently in that it is not affected by other tasks already running or launched by any other process. It will launch tasks even though there is a task already running (if the task is not launched by it).

Again, this is the expected behavior. On the other hand, if you had killed the task started manually by you and left the task started by

[2016-12-12 21:29] kylbarnes commented on #88
@asifamz i don't think the region came through on that command. What region did you run it in? Also, `file://./deploy/docker/conf/cloudformation_template.json` does not create a subnet, so i'm a little unsure on how you got a subnet creation step failure when running that command. Are you sure you're not using the AWS CFT at `file://./deploy/aws/conf/cloudformation_template.json` instead? Can you

[2016-12-12 21:43] wliao008 commented on #92
I suspect that might be the case, since the service desired count has no effect as well, and it could be challenging to get that to work with the daemon scheduler. I was really shooting for the constraint to be strictly enforced per host, is there any chance of having this type of constraint built-in to ECS?

[2016-12-12 23:01] asifamz commented on #88
my bad, i was trying the AWS example

command: aws --region us-east-1 cloudformation create-stack --stack-name BloxAws --template-body file://./deploy/aws/conf/cloudformation_template.json --capabilities CAPABILITY_NAMED_IAM --parameters file:///tmp/blox_parameters.json

error: Subnet2	Value (us-east-1b) for parameter availabilityZone is invalid. Subnets can currently only be created in the follow

[2016-12-13 01:25] kylbarnes commented on #88
Thanks for finding this. This is legacy behavior specific to us-east-1 for older AWS accounts. I have incorporated the requested change and submitted PR #94. Once the PR gets merged, I'll close this as resolved. In the meantime @asifamz, you can just change `us-east-1b` to `us-east-1c` in the template, if you haven't already.

[2016-12-13 01:46] narehayrapetyan commented on #92
It is not safe for the daemon scheduler to kill and/or restart tasks that are not started by it since it has no knowledge of what they are.

Can you clarify what you mean by "the service desired count has no effect as well, and it could be challenging to get that to work with the daemon scheduler."

[2016-12-13 01:47] narehayrapetyan commented on #89
@hridyeshpant what happens if you kill all the containers (daemon-scheduler, cluster-state and etcd) and restart them?

[2016-12-13 02:12] narehayrapetyan commented on #63
Yes, @jhmartin, this is for the use-case where blox is not run in docker. Seems low priority since the default way to run it is in containers.

[2016-12-13 03:34] hridyeshpant commented on #89
@poojamaiya @narehayrapetyan after cleaning up everything and running CloudFormation again works.
Not sure whet happened first time.
Thanks for your help,

[2016-12-13 05:07] jhspaybar opened #95 "Kinesis in CFN template"
Add Kinesis stream option to the cloud formation template and ensure it is used and tested in cucumber tests.

[2016-12-13 13:16] hridyeshpant commented on #89
@poojamaiya @narehayrapetyan Now i am able to get REST API response, but not getting relevant information about CPU/Memory
v1/instances

"clusterARN": "arn:aws:ecs:us-west-2:***:cluster/jenkins",
 "containerInstanceARN": "arn:aws:ecs:us-west-2:***:container-instance/59be2d75-e7ed-413b-94e4-046e13aff649",
      "registeredResources": [
        {
          "name": "CPU",
          "type": "INTEGER",

[2016-12-13 14:20] wliao008 commented on #92
By that, I meant the desired count of the service in the ECS cluster, where I scale up and down as needed. As you mentioned, that's independent of and doesn't affect the daemon-scheduler, which makes sense. It'd be challenging (and probably won't make sense) to have the daemon honor the service count.

If the above isn't solved, while we could still make the daemon-scheduler work reasonably well,

[2016-12-13 15:07] grayaii opened #96 "Proposal: Visualize Container Packing in Cluster"
This is an enhancement request to this toolset.

It would be great blox offered a toolset that would give us a visual representative of how the containers are packed in the cluster.

[2016-12-13 19:20] kylbarnes commented on #88
Closing issue. This has been resolved in #94.

[2016-12-13 19:20] #88 closed

[2016-12-13 19:25] poojamaiya opened #97 "[Bug] Fix resource information in CSS instance API responses"
Resource field 'value' in responses to instance API calls using curl (Ex. curl -v http://localhost:3000/v1/instances) is always null.

"registeredResources": [
                {
                    "name": "CPU",
                    "type": "INTEGER",
                    "value": null
                },
                {
                    "name": "MEMORY",
                    "type": "INTEGER",

[2016-12-13 19:29] poojamaiya commented on #89
@hridyeshpant This indeed does look like a bug on our end. Thanks for reporting it. I've created an issue #97 to track this. We'd like to close this issue in favor of the new issue tracking the bug. Please feel free to re-open this or create a new one if you have any more questions.

[2016-12-13 19:39] #89 closed

[2016-12-13 20:06] kylbarnes commented on #83
@jhspaybar can we close this issue, or are you still randomly encountering a failing unit test?

[2016-12-13 21:30] kylbarnes opened #98 "[Proposal] Create Web User Interface"
### Description

This feature is to provide a web user interface for consuming, visualizing, and modifying the Blox state.

### Motivation

Having a web UI would be a nice addition for visualizing cluster state and managing deployed environments. Please submit comments for any features you would like to see in the web UI.

### Use cases

* View cluster-state-service instances and tasks.
* View dae

[2016-12-13 21:33] kylbarnes commented on #98
From @grayaii #96:
This is an enhancement request to this toolset.

It would be great blox offered a toolset that would give us a visual representative of how the containers are packed in the cluster.

[2016-12-13 21:33] jason-riddle commented on #66
I'm assuming the silence means that this is not going to be supported? If so can this just be closed then?

[2016-12-13 21:45] grayaii commented on #98
Thanks! I'm currently using the visualization tool from this repo: https://github.com/ExpediaDotCom/c3vis  It seems to work pretty well for our production ECS cluster.

[2016-12-13 22:03] kylbarnes commented on #66
This is an interesting discussion.

The original post stated: `It is currently possible to run Kubernetes on AWS but the whole setup is complex and having it as a managed service integrated with AWS would be great`. To this, I would respond that Blox is not aiming to be an installation mechanism for Kubernetes. Blox is aimed at providing a framework for building custom schedulers on top of ECS. Th

[2016-12-13 22:23] kylbarnes commented on #95
Thanks @jhspaybar. I know this is dependent on #77. Is the intention to have a secondary CloudFormation template that creates the Kinesis stream? Or to update the existing template [`deploy/docker/conf/cloudformation_template.json`] to support both?

[2016-12-14 20:02] narehayrapetyan commented on #92
@wliao008 what is your use case for manually running tasks in your cluster?

[2016-12-14 20:30] wliao008 commented on #92
@narehayrapetyan for my setup, I set the service desired count to be 0, and have daemon-scheduler start up the containers on each host, that give me 1 container per host. I could easily see somewhere down the road, people is going to come in and notice "hey why is the desired count 0? it should be xx", then boom we'd end up with multiple copies. While manually starting the container is probably a

[2016-12-15 18:33] poojamaiya commented on #97
Resolved in PR #101. Closing this issue.

[2016-12-15 18:33] #97 closed

[2016-12-15 23:21] poojamaiya opened #104 "Automate cluster-state-service e2e test setup"

[2016-12-20 21:15] kylbarnes commented on #80
This has been resolved in #107.

[2016-12-20 21:15] #80 closed

[2016-12-22 20:11] poojamaiya opened #113 "Handle client-side termination (Ctrl+C) in the instance and task streaming APIs"

[2016-12-22 20:12] poojamaiya opened #114 "Support versioned task and instance streaming"

[2016-12-22 20:14] poojamaiya opened #115 "Refactor CSS swagger artifact generation to be consistent with the daemon scheduler"
Also, with any changes in the swagger.json file, the swagger artifacts have to be manually regenerated for the gucumber (e2e) tests. Change this so  the tests use the artifacts generated using make generate.

[2016-12-22 20:19] poojamaiya commented on #83
@jhspaybar I'm closing this issue. Please feel free to re-open if you see this happening again. Thanks!

[2016-12-22 20:19] #83 closed

[2016-12-22 20:26] poojamaiya commented on #114
Didn't realize that there already exists an issue #50 tracking this.

[2016-12-22 20:26] #114 closed

[2016-12-22 22:09] #51 closed, assigned to kylbarnes

[2016-12-22 23:53] poojamaiya opened #116 "Add swagger and API support to filter tasks by started_by"
Backend implementation is complete, just have to add fronted and swagger support.

[2016-12-23 00:16] poojamaiya opened #117 "Refactor daemon scheduler to use CSS's streaming API"

[2016-12-23 00:27] poojamaiya commented on #66
I'm closing this issue based on @kylbarnes response above. Please feel free to reopen if there are any more questions.

[2016-12-23 00:27] #66 closed

[2016-12-23 00:42] narehayrapetyan opened #118 "Make pending deployments asynchronous"

[2016-12-23 00:43] poojamaiya commented on #92
@wliao008 the daemon scheduler should not interfere with tasks started by other processes (schedulers, applications, etc.). With the use-case you mentioned, we'd expect the users of the daemon scheduler to not manually launch tasks on behalf of it. We do not think that it is a valid use case from the perspective of using the daemon scheduler. We're closing this issue in favor of not supporting the

[2016-12-23 00:43] #92 closed

[2016-12-23 05:45] simplycloud commented on #67
@jhspaybar @kiranmeduri suggestions on what we should do next here? I do have a few concerns around tying Blox to closely to the ECS APIs right now. We may want to add APIs and functionality specifically within Blox that is not supported in ECS and thus not part of the AWS SDK.

[2016-12-23 06:06] jhspaybar commented on #67
My plan was to eventually return here with a pull request of some sort to get a conversation going if nothing else. I'm just getting some free time again and was going to modify the cloud formation template for Kinesis and then contribute a SQLite datastore first though.

[2016-12-23 07:14] tuedtran opened #120 "iuhrlnkrj"

[2016-12-23 07:22] #120 closed

[2016-12-28 00:07] poojamaiya commented on #115
Addressed in #119

[2016-12-28 00:07] #115 closed

[2016-12-28 00:53] kylbarnes opened #124 "Support unlimited cluster-state-service task filter combinations"
Currently we only allow the `cluster` and `status` filter combination to be used on the cluster-state-service `/v1/tasks` API method. You can't filter by `cluster` and `startedBy` or all three filters. We should re-factor the css filter tasks method to support any possible filter combination. This will future proof us for adding new filters down the road.

[2016-12-28 01:25] kylbarnes commented on #67
@jhspaybar let me know if you have any questions about the CloudFormation template stuff, as I did the originals. Before you get started on a second datastore though, we should all talk and come up with some common interfaces that will allow the datastores to be pluggable, as we'll probably want to add another like DynamoDB in the near future, and I don't want to see you get too far down the path

[2016-12-28 04:32] jhspaybar commented on #67
I've never used cloud formation before, so I'm currently trying to figure out how to parameterize sqs vs Kinesis. If this is obvious/easy for you, I wouldn't be broken up to see you contribute it, otherwise I'll get this figured out eventually :).  As for the datastore, for now I was just expecting to implement the handful of methods on the datastore interface related to key/value storage of the f

[2017-01-03 23:19] etsangsplk opened #126 "This is more like a question (how does blox handle resource createion/cleanup/reclaim)"
Since there are multiple resources embedded (vpc,subnet etc etc), when blox brings down a cluster how does it make sure those are also released but not leaving as dangling. And how does it handle if it cannot resolve those it itself?

[2017-01-03 23:58] narehayrapetyan commented on #126
@etsangsplk what do you mean by when blox brings down a cluster? Do you mean the ECS cluster it's running on? Blox resources are set up using cloudformation and cloudformation is what's responsible for setup and cleanup. If you delete the cloudformation stack you can configure your policy so it removes all the associated resources.

[2017-01-04 22:59] narehayrapetyan opened #127 "Refactor environment and deployment types"

[2017-01-04 23:00] narehayrapetyan opened #128 "Finish unit tests for deployment worker"

[2017-01-07 00:06] poojamaiya opened #131 "Ensure that sure that a filter is specified only once when calling the CSS List APIs using curl"
If a filter is specified multiple times in the curl URL (curl "http://localhost:3000/v1/instances?cluster=cluster1&cluster=cluster2"), we use the first value and succeed. We should instead throw an error.

[2017-01-10 20:57] poojamaiya commented on #131
Completed in #132. Closing.

[2017-01-10 20:57] #131 closed

[2017-01-10 20:58] poojamaiya commented on #116
Completed in #122. Closing.

[2017-01-10 20:58] #116 closed

[2017-01-10 21:08] poojamaiya commented on #126
@etsangsplk, did you have any follow-up questions here?

[2017-01-11 00:34] narehayrapetyan opened #134 "Delete environment"
Currently the delete environment API deletes the environment regardless of whether the environment has running tasks. Add a check to prevent the deletion of an "active" environment, ie one that has running tasks, and provide a force delete environment option that stops the tasks before deleting the environment.

This will also help with test cleanup as deleting the environment after the test runs

[2017-01-13 00:30] #127 closed

[2017-01-13 00:32] narehayrapetyan opened #137 "Cluster state service information gets stale"
When cluster state service runs for a while and multiple end to end and integration tests are run against it, it seems to get stale and not have up to date information about the latest instances. Needs investigation.

[2017-01-16 19:24] tuedtran commented on #59
Resolved by https://github.com/blox/blox/pull/122

[2017-01-16 19:47] poojamaiya commented on #126
@etsangsplk, I'm resolving this issue since there isn't any actionable items to pick up from this. Please feel free to reopen if you think otherwise or have any more questions. Thanks!

[2017-01-16 19:47] #126 closed

[2017-01-17 23:30] poojamaiya commented on #124
Resolved in #138

[2017-01-17 23:30] #124 closed

[2017-01-17 23:31] #128 closed

[2017-01-17 23:42] narehayrapetyan opened #141 "Make daemon e2e tests independent of other environments and tasks in the cluster"
Daemon end to end test setup does not work successfully when there are multiple environments left over from running integration tests. Additional research needed but one issue is that they're trying to stop all tasks in the cluster but the scheduler keeps starting tasks for existing environments when new instances join the cluster.

Also make sure that e2e tests are able to run in parallel and do

[2017-01-18 00:01] narehayrapetyan opened #142 "Finalize release process"
Create a template to document and track pre-release steps, e.g. what tests need to be run, are there any approvers on the release, etc.

[2017-01-30 19:52] poojamaiya opened #144 "CSS canary"

[2017-01-30 21:46] narehayrapetyan commented on #137
Cluster state does not always clean up old instances and tasks. When running daemon scheduler e2e tests multiple times, they hang on "when I kill all tasks" even when there are no tasks running because CSS thinks there are running tasks. Same with instances.

[2017-01-30 22:30] poojamaiya opened #146 "Design for update, rollback and delete environments and deployments"
Update environments, deployments
Delete environments
Stop deployments
Rollback deployments

[2017-01-30 22:36] poojamaiya opened #147 "Investigate daemon scheduler tests"
Running e2e tests after integ tests does not work

[2017-01-30 22:37] poojamaiya commented on #147
Duplicate of #141

[2017-01-30 22:37] #147 closed

[2017-01-30 22:49] poojamaiya opened #148 "Investigate test automation (CI/CD)"
Come up with a plan to run integ/e2e tests before merging in changes.

Challenges -
* Tests use AWS resources
* Dangerous to run unchecked/unapproved code

[2017-01-30 22:50] poojamaiya opened #149 "Automate running unit tests"
Travis? Jenkins?

[2017-01-31 01:19] kylbarnes opened #151 "Old environments spam multiple tasks"
Old environments and old deployments spams running tasks.

I had an old environment and deployment created from a while back. When I launched the daemon-scheduler, it kept launching multiple copies of the same task on a given instance, instead of just the one. The logs were spamming the following:

[code]

[2017-02-01 01:47] narehayrapetyan opened #153 "ikbr"

[2017-02-01 01:48] #118 closed

[2017-02-01 01:57] poojamaiya commented on #149
Reopening this because `make build` with the commit #150 that introduces travis changes undoes the swagger changes brought in by the commit.

[2017-02-01 02:00] narehayrapetyan commented on #149
Swagger needs to be at the latest version otherwise it will revert the changes to the previously generated version.

[2017-02-01 02:00] #149 closed

[2017-02-01 02:02] poojamaiya commented on #149
Should we run `make get-deps` as part of the make build target all the time in order to avoid such inconsistencies?

[2017-02-01 02:03] narehayrapetyan commented on #149
@poojamaiya Might be a good idea because travis is going to pull the latest swagger every time it does a build. Another option is to get a specific swagger version in get-deps. It doesn't seem a bad idea to get a release version instead of the latest commit on the dev branch.

[2017-02-01 02:07] narehayrapetyan commented on #149
@poojamaiya opened an issue: https://github.com/blox/blox/issues/153

[2017-02-01 02:07] poojamaiya commented on #149
Awesome. Thanks!

[2017-02-01 03:39] narehayrapetyan opened #154 "Daemon scheduler new structure"
The structure of the daemon scheduler is a little bit all over the place and complicated by the fact that golang needs interfaces to mock methods but won’t let you access struct members if you have an interface which is needed to json marshal. I'm proposing a new structure to simplify the code, make it more intuitive and easier to extend, and harder to duplicate pieces of code everywhere.

[code]

[2017-02-01 17:34] aaithal opened #155 "Update copyright header in the LICENSE file to 2017 instead of 2016"

[2017-02-01 19:42] poojamaiya commented on #155
Updated in #156.

[2017-02-01 19:42] #155 closed

[2017-02-02 00:34] kylbarnes commented on #50
Added version parameter `entityVersion` to the cluster-state-service task and instance streaming methods in #143.

[2017-02-02 00:34] #50 closed

[2017-02-08 01:02] kylbarnes opened #162 "Cluster-state-service reconciler deletes stopped tasks"
When the cluster-state-service reconciler runs, it deletes any tasks in Etcd that are in a stopped status. The root cause of this seems to be that the ECS list-tasks API method only returns running tasks. We should fix the reconciler to allow for a grace period in Etcd for storing stopped tasks.

This also causes an issue with the cluster-state-service e2e tests where the reconciler ends up deleti

[2017-02-08 18:09] kylbarnes commented on #142
This was completed

[2017-02-08 18:09] #142 closed

[2017-02-08 18:14] poojamaiya opened #164 "Rollback deployments"

[2017-02-08 18:15] poojamaiya opened #165 "Stop deployments"

[2017-02-15 18:40] poojamaiya opened #166 "Improve documentation"
* Blox architecture
* Image description in DockerHub
* Details/information around cloudformation template decisions

[2017-02-15 18:48] tuedtran commented on #117
Since the Control Plane team is busy with Fargate, we decided to push this to after June.

[2017-02-15 18:51] tuedtran commented on #117
We decided to push this issue till after June since the Control Plane is busy.

[2017-02-16 18:28] dbenhur commented on #45
This was a desired feature mentioned in this [nice ECS experience blog post](https://medium.com/@crafterm/experiences-with-amazon-ecs-ecr-cloudformation-52dc43ed51b2).

[2017-02-17 19:26] kylbarnes opened #168 "Cluster-state-service reconciler does not replace existing records"
The cluster-state-service reconciler checks to see if the task or container instance exists in the data store, and if so, it does not replace it. This causes an issue if the data retrieved by the reconciler is more up to date than the data in Etcd. This could happen if the event is lost or the queue gets backed up.

[2017-02-18 13:53] hridyeshpant opened #170 "InvalidParameterException DescribeClusters"
I have setup blox and working with all query for cluster-state-service REST API.
But when i am using daemon-scheduler API for creating environment. i am getting InvalidParameterException, the cluster name is valid and exists in my ecs environment.
[code]

[2017-02-18 22:09] hridyeshpant commented on #170
fixed by using valid json format

[2017-02-18 22:09] #170 closed

[2017-02-18 22:16] hridyeshpant commented on #146
@poojamaiya  this is very much required.
I deployed environment with taskdef with version 1, all the ecs instances are running that taskdef version. But now i am not able to deploy new version 2 of that taskdef.
So i deleted old environment, create new environment with new task def version and deployed it.
The schedule api is returning that new version 2 is successfully running, but all the instan

[2017-02-18 22:32] hridyeshpant commented on #146
@poojamaiya if i killed that ecs task for a instances, scheduler is deploying the new version for that instances only. so i need to manually need to stop task for all my 96 instance to pick new version each time.
Do you have any plan to rollout Update environments/deployments soon?

[2017-02-20 18:17] kylbarnes commented on #162
Fix applied in #167. The cluster-state-service reconciler now pulls both running and stopped tasks from ECS.

[2017-02-20 18:17] #162 closed

[2017-02-20 19:23] poojamaiya commented on #146
@hridyeshpant Thanks for the feedback. We are actively working on scoping down this piece of the scheduler and getting a design in place. We'll have an update for you shortly.

In order to get the get your instances to stop the old version and pick up the new ones, I'd do the following to stop all tasks first.

(1) List all the deployments in the environment using the Blox List Deployments API. To

[2017-02-21 02:54] hridyeshpant commented on #72
@poojamaiya not sure why etcd is being used rather then using dynamodb. I deployed blox as ecs service and when ecs move this service to other ecs instances all old data got lost.
Do we support etcd as HA mode?
we cant force ECS to run service in one particular instances always.is there any working solution to retain etcd data,

[2017-02-21 18:56] poojamaiya commented on #72
@hridyeshpant Thanks for the feedback.

We have this in our roadmap and can be tracked [here](https://github.com/blox/blox/issues/47)

The easiest way would be to force ECS to launch Blox on the same instance. You can do this by launching Blox on a cluster with a single instance. This is what the cloudformation template we provide does today.

Please let us know if this helps and/or if you have an

[2017-02-21 18:58] kylbarnes commented on #168
Fixed in #171.

[2017-02-21 18:58] #168 closed

[2017-03-02 22:29] kylbarnes commented on #137
Fix applied in #179. We previously had no timeout values set on our SQS consumer, which would cause it to block indefinitely on any networking issues. This change sets the http timeout to 30s, which allows the sqs consumer to recover and continue polling

[2017-03-02 22:29] #137 closed

[2017-03-06 22:08] poojamaiya commented on #60
Addressed on #169

[2017-03-06 22:08] #60 closed

[2017-03-06 22:28] poojamaiya opened #181 "Replace ECS calls with calls to CSS in daemon scheduler"
Updates need to be done [here](https://github.com/blox/blox/blob/dev/daemon-scheduler/pkg/deployment/deployment_worker.go#L136)

[2017-03-06 22:55] kylbarnes commented on #162
Released in v0.2.1.

[2017-03-06 22:56] kylbarnes commented on #168
Released in v0.2.1.

[2017-03-06 22:56] kylbarnes commented on #137
Released in v0.2.1.

[2017-03-07 00:12] kylbarnes opened #182 "Add release v0.3.0 functionality to demo-cli"
Add release v0.3.0 functionality to demo-cli. This should include all new and updated APIs for the cluster-state-service and daemon-scheduler.

[2017-03-08 09:19] tuedtran commented on #104
Resolved in https://github.com/blox/blox/pull/178

[2017-03-08 09:19] #104 closed

[2017-03-08 19:28] poojamaiya opened #184 "Automate daemon scheduler integ and e2e test setup"

[2017-03-10 22:20] kylbarnes commented on #153
Per the Golang documentation [here](https://golang.org/doc/faq#get_version): `go get` does not have any explicit concept of package versions.

To accomplish this, we won't be able to specify a specific version using `go get`. We would either need to write some BASH that would `cd` into the `go-swagger`, checkout a specific version, and run a local install. Or look into some other golang package ma

[2017-03-13 22:17] kylbarnes commented on #154
Refactored `package deployment` and `package environment` in #185

[2017-03-14 20:58] #182 closed

[2017-03-15 17:57] tuedtran commented on #184
Resolved in https://github.com/blox/blox/pull/186

[2017-03-15 17:57] #184 closed

[2017-03-18 03:02] hridyeshpant commented on #72
@poojamaiya  even that wont work for long term. we need to update cluster with new ecs AMI.
 i saw there in blox 3.0 beta release .can we know what all change list in each release.
i dont think unless we can make etcd or other db as HA mode, blox can be used for production env, no one want non HA mode system to run in Production env.
i tried to use efs to use blox ectd path .but seems blox etcd im

[2017-04-06 23:28] Khalian commented on #64
Isn't this done ?

[2017-04-10 09:08] pmanwatkar commented on #72
@hridyeshpant I had similar issue while setting up blox  cluster in ECS. I had to restart the docker service as the efs volume was not getting registered if you attach it to etcd docker container.

[2017-04-10 16:49] kylbarnes commented on #64
Yup, this was completed in #150. Thanks.

[2017-04-10 16:49] #64 closed

[2017-04-10 21:21] xiang90 commented on #72
@pmanwatkar @hridyeshpant

this is the suggested way to run HA etcd on aws: https://github.com/coreos/etcd/blob/master/Documentation/platforms/aws.md. just in case you are interested.

[2017-04-11 06:53] pmanwatkar commented on #146
@poojamaiya can we have some ETA for this. This would help us.

[2017-04-11 16:13] ajosuarez commented on #146
@pmanwatkar we anticipate publishing a design for public comment in the next few weeks. we'll share the link in this issue once ready as well.

[2017-05-03 18:23] arun-gupta opened #189 "Not able to start Blox locally"
Configured Blox locally as explained at:

https://github.com/blox/blox/tree/dev/deploy#deploy-blox-locally-to-docker

http://localhost:2000 is giving a 404.

[2017-05-03 18:27] arun-gupta opened #190 "Directory to store Blox configuration information should start with ."
Starting up Blox locally creates `blox-state` directory in the home directory. The directory name is too invasive and does not follow best practices of using a `.` to hide any config directories.

This should instead be named something like `.blox` and then possibly a `state` directory inside it.

[code]

[2017-05-07 05:11] Khalian opened #191 "Cannot build cluster service"
main.go:20:2: cannot find package "github.com/cihub/seelog" in any of:
        /usr/local/Cellar/go/1.8.1/libexec/src/github.com/cihub/seelog (from $GOROOT)
        /Users/arunavs/go/src/github.com/cihub/seelog (from $GOPATH)

This is after make get-deps and make.

[2017-05-08 00:29] hridyeshpant opened #192 "cluster-state-service crashing"
After running all blox three container successfully, cluster-state-service container is getting crashed and causing other two containers to stooped.

**bloxoss/cluster-state-service:0.3.0 Log :**

[code]
github.com/blox/blox/cluster-state-service/handler/store.handleEtcdError
	/go/src/github.com/blox/blox/cluster-state-service/handler/store/datastore.go:251
github.com/blox/blox/cluster-state-servi

[2017-05-08 00:32] hridyeshpant commented on #146
@simplycloud is there any update on this feature?

[2017-05-08 17:13] ajosuarez commented on #190
good suggestion @arun-gupta. this is something we can consider changing in an upcoming release. thank you.

[2017-05-08 17:13] #190 closed, assigned to nobody

[2017-05-08 17:40] kylbarnes commented on #189
@arun-gupta This is because we don't have anything configured at the `/` route. All URIs are prefixed with `/v1`. An example URL would be:

http://localhost:2000/v1/environments

You can find our swagger definition with all URIs [here](https://github.com/blox/blox/blob/dev/daemon-scheduler/swagger/v1/swagger.json). Let me know if you have any other questions.

[2017-05-08 18:23] kylbarnes commented on #191
@Khalian The seelog dependency is located in the `/vendor/github.com/cihub/seelog/` directory inside Blox. From your output, it isn't looking for dependencies inside `/vendor` during build time. I know this behavior would happen if Blox is not built from within your $GOPATH. Please make sure you are building Blox from within $GOPATH/src. Let me know if that doesn't work for you.

[2017-05-08 19:25] Khalian commented on #191
I wanted to build the service from some arbitrary location in the file system. Why do I have to be tied down to specific locations (e.g. under GOPATH)? Other projects do not have this problem.

[2017-05-08 20:03] arun-gupta commented on #189
@kylbarnes The docs talk about checking out localhost:2000 and that's where the confusion came from.

[2017-05-08 23:16] kylbarnes commented on #189
Thanks for the response. I'm going to close this issue. Please let me know if you need anything further regarding this.

[2017-05-08 23:16] #189 closed, assigned to nobody

[2017-05-08 23:17] dominicbarnes opened #193 "cluster-state-service initial reconcile slow"
I'm working on deploying `cluster-state-service` on ECS, but I'm running into some problems. The process starts and immediately begins "Reconciler loading tasks and instances", but it isn't long before ECS kills the task because it failed to pass it's health check. It turns out that the initial reconcile blocks starting the web server, meaning that until that reconciliation finishes, nothing else

[2017-05-08 23:23] kylbarnes commented on #191
I did a quick Google search, and I don't think the vendor loaded dependencies (those in the `vendor` directory) will work in Go outside of the GOPATH. There might be some ways to accomplish what you're trying to do with symlinks, but I think it's probably easiest to keep the Blox source code in your GOPATH.

A couple applicable search results:
https://github.com/golang/go/issues/14566
https://gith

[2017-05-08 23:29] kylbarnes commented on #192
This is a bug. From your logs, and looking at the source code, I see the cluster-state-service is querying Etcd and getting a `context.DeadlineExceeded` error. And instead of properly handling it, the cluster-state-service is crashing. Thanks for finding this. I've labeled this issue as a bug.

[2017-05-08 23:51] kylbarnes commented on #193
@dominicbarnes I think this may be related to #192. There seems to be a bug in the cluster-state-service code related to querying Etcd and getting a `context.DeadlineExceeded` error on the reconciler. I'll try to duplicate this on my side and post the results.

[2017-05-09 21:01] kylbarnes commented on #192
@hridyeshpant I was able to duplicate this error, and found that it correlates to the amount of memory available to the Etcd container. When the cluster-state-service starts up, it immediately runs a reconcile job with a default timeout of 60s. However, depending upon the amount of data stored and memory allocated to Etcd, the Etcd service might take longer than 60s to start up. In this scenario,

[2017-05-09 21:04] kylbarnes commented on #193
@dominicbarnes Please see my latest comment in #192. This issue is correlated to the amount of memory allocated to the Etcd container. I was able to reduce my Etcd server startup time from 90s to 1s by increasing the amount of memory available to the Etcd container. Please give this a shot and let me know if it doesn't work for you.

[2017-05-10 16:13] dominicbarnes commented on #193
@kylbarnes I'll try that as well, but it looks like our situation was caused by etcd not being configured correctly networking-wise. It would seem that AWS ALBs are just not compatible with the gRPC interface of etcd, so even with other clients we get timeouts from etcd. I'm going to close this issue, and I'll re-open if I still have issues and your suggestion doesn't help. Thanks!

[2017-05-11 08:35] hridyeshpant commented on #192
we have just stored one environment and when we see the size of etcd it say around 2.2 GB.
[code]
what extra information blox is storing in etcd?
We tried to increase memory for etcd to more then 6 GB but still getting same error.
This is now blocker for us to use Blox in our environment as css keep crashing with same above error

[2017-05-11 22:19] dominicbarnes commented on #193
I'm going to re-open this issue, as I was able to resolve the etcd issues and got the reconcile working. However, it takes 1-3 minutes to perform all this in our staging environment, and I'm sure production may be worse.

Would it be reasonable to request that the initial reconcile not block the server from starting? This would allow ECS to let the process to start up since it will be able to pass

[2017-05-12 18:50] dominicbarnes opened #194 "cluster-state-serivce: no ping?"
It doesn't look like `cluster-state-service` exposes a "ping" endpoint, and it appears like that is part of `daemon-scheduler` instead. I don't think I need the scheduler, so I'm just running the state service by itself. But I don't have an endpoint that I can use for ECS health checks atm.

[2017-05-13 00:05] cjpetrus commented on #146
@simplycloud  we're all waiting.

[2017-05-13 01:02] hridyeshpant commented on #146
@cjpetrus not sure if Amazon are actively following and contributing in Blox project any more.
Last checking i am seeing is happened in March month.
@poojamaiya @simplycloud do you have any info about the future road map of Blox.?

[2017-05-13 01:14] ajosuarez commented on #146
@cjpetrus @hridyeshpant yes -- we are actively working on the project. we've been finalizing a design proposal that we hope to share as soon as next week regarding dameon scheduler enhancements! thanks for your interest in Blox!

[2017-05-14 23:08] jicowan opened #196 "error in increment-cluster-instances.py"
Line 53 is missing variable for subnetId.  The line should be:
[code]

[2017-05-15 02:02] Khalian commented on #191
It still does not build

arunavs at f45c89bd4dd3 in ~/go/blox/cluster-state-service on dev
$ pwd
/Users/arunavs/go/blox/cluster-state-service

arunavs at f45c89bd4dd3 in ~/go/blox/cluster-state-service on dev
$ echo $GOPATH
/Users/arunavs/go/

Generated licenses and copyrights
./scripts/build_binary.sh ./out
main.go:22:2: cannot find package "github.com/blox/blox/cluster-state-service/cmd" in any

[2017-05-15 20:19] kylbarnes opened #197 "Enable Etcd compaction"
Currently, the cluster-state-service stores the entire ECS event-stream in Etcd. Over time, this can add up to quite a bit of data. We should enable automatic Etcd compaction by either enabling the `--auto-compaction-retention=hours` flag on the Etcd service, or by creating a job that periodically compacts Etcd.

[2017-05-15 20:23] kylbarnes opened #198 "Update cluster-state-service initial reconciler timeout"
When the cluster-state-service starts up, it first runs a reconciler job to sync the ECS state into Etcd. The timeout for this job is currently set to 60s. Depending upon the amount of data stored in Etcd, the Etcd service might take longer than 60 seconds to start, and the cluster-state-service will exit with a `Error starting event stream handler: context deadline exceeded.` error. We should upd

[2017-05-15 20:48] kylbarnes commented on #197
In the meantime, Etcd can be manually compacted by using the following steps. Replace `abcdef1234` with your Etcd docker container id.

[code]

[code]

[code]

[code]

[2017-05-15 20:57] kylbarnes commented on #192
@hridyeshpant The majority of that disk space is the retention of the ECS event stream. On the upside, keeping this data allows you to act on historical mutations to your ECS cluster. On the downside, it can take up quite a bit of disk space. This historical data is really only needed if you're using the streaming feature of the cluster-state-service APIs. Can you try following the manual steps in

[2017-05-15 21:02] kylbarnes commented on #193
@dominicbarnes The problem here is really the amount of data stored in Etcd, and how long it takes Etcd to load it into memory on startup. Can you perform the manual steps listed in #197? This will compact the historical events in Etcd that have expired to free up memory. This expired data is really only needed if you're using the cluster-state-service streaming APIs. Please let me know if this do

[2017-05-15 21:15] kylbarnes commented on #191
@Khalian Go is very picky about it's directory structure. It has to be in a specific location within the GOPATH. The actual make command should run out of `$GOPATH/src/github.com/blox/blox/cluster-state-service/`. Can you perform the following steps and let me know if they don't work for you?

[code]

[2017-05-17 05:29] hridyeshpant commented on #192
@kylbarnes we tried to compact Etcd data mentioned in https://github.com/blox/blox/issues/197
but we are getting same error
[code]
Seems Etcd is not able to handle this much large amount of data.

**etcd container log :**

[code]

**cluster-state container log :**

[code]

[2017-05-17 05:57] kylbarnes commented on #192
@hridyeshpant Can you paste me the Etcd container logs from the start up until you see `etcdmain: serving insecure client requests on 0.0.0.0:2379`?

The Etcd service isn't really accepting connections until it gets to `etcdmain: serving insecure client requests on 0.0.0.0:2379`. I'm curious how long Etcd is taking to fully start.

Also, can you double check that you ran the steps in #197 after th

[2017-05-17 06:12] pmanwatkar commented on #192
@kylbarnes So before adding `--auto-compaction-retention=1` in etcd container we got this error:
[code]

But after adding auto compaction we are getting these results:
[code]

Docker logs are as followed:
[code]

[2017-05-17 06:13] hridyeshpant commented on #192
@kylbarnes unfortunately we just cleanup etcd data to use --auto-compaction-retention flag.
I will let you know once we reached that 2GB limit.

[2017-05-17 06:40] pmanwatkar commented on #192
@kylbarnes
So @hridyeshpant and I have setup a similar cluster but in different env. We are getting same error and haven't enabled auto-compaction for now.

These are the logs for etcd container:
[code]

These are the logs for cluster-state-service:
[code]
Also the disk usage for etcd is around 1.4 gb.
Let me know if you need other info.

[2017-05-19 00:21] Khalian commented on #191
No. I ran the commands to the letter. I got this error.

Adding license for ./../../vendor/gopkg.in/yaml.v2
Adding license for ./../../vendor/google.golang.org/grpc
Generated licenses and copyrights
./scripts/build_binary.sh ./out
handler/api/v1/instanceapis.go:26:2: cannot find package "github.com/blox/blox/cluster-state-service/swagger/v1/generated/models" in any of:
        /Users/arunavs/go/sr

[2017-05-21 14:38] arminc opened #199 "blox serverless?"
I am wondering if there is a reason not to make cluster-state-service and daemon-scheduler fully serverless? I was looking for the discussion about it but I could not find it, apologies if this is already addressed.

Running cluster-state-service and daemon-scheduler as Lambdas and replacing etcd with DynamoDB or another 'DB' as a service will result in a high available low-cost solution. The solu

[2017-05-25 00:34] kylbarnes commented on #192
@hridyeshpant Thanks for the update. I assume once you enabled `auto-compaction-retention`, it will continuously compact Etcd and resolve the issue you were seeing. But please let us know if it doesn't.

@pmanwatkar Have you tried the manual steps in #197 to compact Etcd? If so, did they work for you? I'd still recommend enabling the `auto-compaction-retention=hours` flag though to continuously co

[2017-05-31 03:13] Khalian commented on #191
@kylbarnes Hello ?

[2017-05-31 17:22] kylbarnes commented on #191
@Khalian Sorry, missed your response. Right now it's erroring out with not being able to find `github.com/blox/blox/cluster-state-service/swagger/v1/generated/models`, which should be there. See the following link: [swagger models](https://github.com/blox/blox/tree/dev/cluster-state-service/swagger/v1/generated/models). This would only happen if those files don't exist in those directories that ar

[2017-06-05 02:49] Khalian commented on #191
ls $GOPATH/src/github.com/blox/blox/cluster-state-service/swagger/v1/generated/models

ls: /Users/arunavs/go//src/github.com/blox/blox/cluster-state-service/swagger/v1/generated/models: No such file or directory

[2017-06-05 17:35] kylbarnes commented on #191
Yup, that would be a problem. What is the closest parent directory you have?

[code]

[2017-06-19 01:22] Khalian commented on #191
GOPATH/src/github.com/blox/blox/cluster-state-service/swagger/v1/generated is empty.

[2017-06-23 23:54] kylbarnes commented on #191
I'm not sure why that folder was emptied on your side, but you will want to restore it via `git reset --hard`. After running that command, make sure the files in `$GOPATH/src/github.com/blox/blox/cluster-state-service/swagger/v1/generated` are restored.

My best guess is something version related on your side. I think the most likely culprit is going to be your swagger version, since that is what

[2017-06-24 07:24] Khalian commented on #191
@kylbarnes The git reset HEAD --hard command puts some stuff back into $GOPATH/src/github.com/blox/blox/cluster-state-service/swagger/v1/generated. Make get-deps also works. But make fails with the same issue post those command execs.

I have no idea what swagger I am using. And by this point I don't really care.

I am confused, why do I need to do all of these things for a simple make?

[2017-06-24 07:25] Khalian commented on #191
You know what, I have lost interest in this project. I am closing the issue so that you guys can focus on more important things. @kylbarnes please fix your build system to actually run from anywhere (like any build system should).

[2017-06-24 07:25] #191 closed, assigned to nobody

[2017-07-10 22:53] narehayrapetyan commented on #199
@arminc Thank you for your question. That's a great point. We've heard that feedback before and realize that it's not easy to host the services on your side. To address those concerns we've put together a new design which you can look at [here.](https://github.com/blox/blox/blob/dev/docs/daemon_design.md)

[2017-07-13 23:41] #199 closed, assigned to nobody

[2017-07-13 23:44] narehayrapetyan commented on #196
@jicowan thanks for reporting it

[2017-07-14 00:08] #65 closed

[2017-07-14 17:38] ldangela opened #204 "[CRITICAL] Error starting event stream handler: NoCredentialProviders: no valid providers in chain. Deprecated."
I'm testing blox locally.

So I have installed the docker containers on my computer with the following command "**docker-compose up -d**"

I use aws account with an assume role.

When I run the following command "**aws ecs list-clusters --region eu-west-1 --profile qualif-admin**" on my computer it works. So I suppose that my aws profile file is ok.

I have changed the REGION and the default value

[2017-07-18 22:13] aaithal opened #208 "Questions/clarifications around daemon scheduler design doc"
Hi,

I was reading https://github.com/blox/blox/blob/dev/docs/daemon_design.md and had a few questions/comments:
1. In the [Starting a Deployment](https://github.com/blox/blox/blob/dev/docs/daemon_design.md#starting-a-deployment) section, `Attributes` filed is listed as `list of string (optional)`. Can we expand it to include key-value style attributes supported by ECS as well?
2. What's the recom

[2017-07-21 22:31] narehayrapetyan commented on #204
@ldangela when you say after a while cluster state starts failing do you mean it works for a while or does the first ECS call fail? If none of the ECS calls go through but you can make calls through the cli it might be a go sdk bug (also see here: https://github.com/aws/aws-sdk-go/issues/348). You can try upgrading the sdk on your side and I'll try to duplicate it as well.

[2017-07-21 22:48] narehayrapetyan commented on #208
@aaithal thanks for the feedback.

1. Good idea.

2. We need a little more investigation on state service but I will make that more clear in the doc.

3. Do you mean cluster size tasks will be deployed to or cluster where manager tasks live?

4. What I mean by idempotent tasks is when tasks are launched on instances to be true daemon tasks there can only be one on the instance, so the instanceID -

[2017-07-31 23:10] wjbuys opened #211 "Make single Blox repo with subprojects for components"
The new repository structure for Blox will be a single Gradle multi-project build. The structure will be something like:

[code]

This will allow us to easily build the whole stack, and make changes across multiple projects where necessary in the early stages of development. We can potentially split the subprojects out into separate repositories later.

[2017-07-31 23:36] narehayrapetyan commented on #211
* I don't think we need to prefix everything with blox.
* instead of data since it's misleading, I'd name it dataservice
* should we name the pojo/interface dirs model instead of API since it's not really the API?
* I think each service should have its own integration tests and we can have a top level end-to-end tests directory
* we can state service later

[2017-07-31 23:41] wjbuys commented on #211
Sounds good, so how about:

[code]

[2017-07-31 23:43] narehayrapetyan commented on #211
lgtm

[2017-08-02 18:14] aaithal opened #216 "Force push to "dev" branch (aka resetting git commit history)"
Why was this done? I understand wanting to get rid of the code that corresponds to the self-managed version of blox to an extent. But, why delete all commits, effectively resetting the history of the repo? It doesn't seem to customer friendly to lose references to past contributors to the repo and the code that still has open issues related to it. At the very least, can we rebase `dev` from `maste

[2017-08-02 18:23] jahkeup commented on #216
The `dev` branch appears to have been created as an orphan before what looks to be force pushing (likely a delete + push). It would make more sense to have a commit that _deletes_ the files in the previous code base - if that's direction it's moving - and then rebase on that. Losing the history is unfortunate for developers and confusing for all.

[2017-08-02 18:37] wjbuys commented on #216
Apologies if this was unexpected. My reasoning behind this was explained in a [PR comment](https://github.com/blox/blox/pull/213#issuecomment-319515469) (which is probably not visible enough):

For any contributors that have forks or working copies based off of the `dev` branch, and who wish to continue working on the 0.3 codebase, the fix is the same: switch the upstream branch to `v0.3`:

[code]

[2017-08-02 18:40] wjbuys commented on #216
Losing history would indeed be unfortunate; however, it's worth noting that the history (in both cases) will be maintained, just on a different branch ([`v0.3`](https://github.com/blox/blox/tree/v0.3)), which is where any future development on v0.3 would be happening.

[2017-08-02 19:22] aaithal commented on #216
In that case, why rewrite the history? Why not pick the option that's least confusing to customers (of deleting code with a commit and update the README to point customers to the branch where we are stashing old code)? Wouldn't that be less confusing?

[2017-08-02 19:49] wjbuys commented on #216
The update to the `README` is a good idea regardless of path, I think.

The core of the problem here is that we're trying to shoehorn unrelated code into the same `dev` branch. This is going to cause existing contributors pain no matter what we do.

After thinking on this a bit more, there's a third option here that we considered briefly which I think is more tractable now that we're seeing the fa

[2017-08-03 18:07] wjbuys commented on #216
Okay, @narehayrapetyan, @aaithal and I had some offline discussion, and to try and minimize confusion, we're going to got with resetting everything back to the way it was, and preserving the history of the `dev` branch.

Steps:
- [x] make a temporary `managed` branch off of [the current tip of dev](https://github.com/blox/blox/commit/0dbdda1c8ee4da28b3ae7f8e260e9c5f569f4374)
- [x] unprotect the `d

[2017-08-03 18:44] wjbuys commented on #216
About to force push `dev` back into `blox/blox:dev`:
[code]

[2017-08-03 18:48] wjbuys commented on #216
Force pushed:
[code]

[2017-08-03 20:20] wjbuys commented on #216
#214 is re-opened, just needs a few doc changes before merging.

[2017-08-03 23:33] wjbuys commented on #216
Okay, the dev branch is now the new codebase with the old history intact. Resolving.

[2017-08-03 23:33] #216 closed, assigned to nobody

[2017-08-06 09:58] arminc opened #219 "Projects main programming language"
I have been looking at https://github.com/blox/blox/pull/218 and I wondered if other languages besides Java where considered?
I understand this is running on Lambda so it can not be Golang. And I also can understand choosing Java and not Python or JavaScript. But Java is "verbose" so using a different JVM language like Kotlin or Scala might be worth considering?

I am not trying to start a languag

[2017-08-06 10:00] arminc commented on #181
The issue points to a non existing file (moved?). Is the issue relevant, close it?

[2017-08-07 18:00] narehayrapetyan opened #221 "Move cluster-state-service to aws-labs organization"

[2017-08-07 18:02] narehayrapetyan commented on #208
@aaithal please reopen if this doesn't answer your questions. Also see the updated design doc.

[2017-08-07 18:02] #208 closed, assigned to nobody

[2017-08-07 18:06] narehayrapetyan commented on #219
@arminc Java was chosen because it's a mature fully featured and well supported language and fits well with our existing ECS infrastructure.

[2017-08-07 22:09] narehayrapetyan opened #222 "Dataservice ddb model/tables"
[PR#231](https://github.com/blox/blox/pull/231)

[2017-08-07 22:20] narehayrapetyan opened #223 "Create model, interfaces for Data service"
* createEnvironment
* startDeployment

[2017-08-07 23:55] wjbuys opened #224 "Add IAM authentication to frontend"
The Frontend Service should use IAM for authentication.

This is configured through a custom Swagger security definition, as outlined in [the docs](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-swagger-extensions-authtype.html).

There's one additional requirement: when hosted in the ECS Control Plane, we'll need to use a slightly different auth configuration in order to

[2017-08-09 18:03] wjbuys opened #227 "Wire up the Scheduling Manager to the DataService"
We want to host the DataService as a single Lambda function, but we don't want to front it with AWS API Gateway (since we're not exposing the service as a public API).

This means that we'll have to figure out some way to route calls for different codepaths in the same Lambda function based on the payload of the invocation.

For example, from the FrontendService lambda function, we want to be able

[2017-08-09 18:05] wjbuys commented on #227
One simple option that comes to mind is to use the [JSON-RPC](https://en.wikipedia.org/wiki/JSON-RPC) protocol. It's pretty simple, and there's an open source implementation that supports tying the service to an `InputStream`/`OutputStream` already: [`jsonrpc4j`](https://github.com/briandilley/jsonrpc4j)

[2017-08-09 18:10] wjbuys commented on #227
Alternatively, we can bite the bullet and model this API as a REST API in API Gateway too, and use the same complicated Spring MVC -> Swagger Model -> Generated Client toolchain.

[2017-08-09 18:47] wjbuys opened #228 "Figure out how to namespace test stacks"
There was some discussion on #218 about how we namespace our test stacks, and how that integrates with the build logic that acts on AWS resources.

At the moment, it uses the name of the AWS CLI credentials profile to determine the stack name.

What we need from test stacks are:

1. It should be possible to have multiple, independent test stacks within a single account (e.g. I'm working on one fea

[2017-08-09 20:46] wjbuys commented on #228
Here's a rough proposal:

We provide two config setting:
- `bloxStack` (defaults to "$USER-alpha", must be globally unique)
- `awsRegion` (defaults to `us-west-2`).

These settings are passed in as Gradle properties (through the command line, or via a `gradle.properties` file), and are used to derive resource names as follows:

[code]

This meets all the properties above, and the only per-user con

[2017-08-09 21:49] wjbuys commented on #224
Should be fixed by #229.

[2017-08-09 22:23] wjbuys commented on #228
Okay, I've wired that in, and added a `displayConfig` task to show where everything will go:

[code]

[2017-08-09 23:20] wjbuys commented on #227
I think as long as we have the clean interface-based implementation model as it's outlined in #226, it doesn't really matter what we choose for the transport, since it should be pretty easy to change. I'm going to go ahead an prototype something with jsonrpc4j, and if it works I'll integrate it into the project.

[2017-08-09 23:44] #219 closed, assigned to nobody

[2017-08-16 18:39] shubharao commented on #165
In scope for v1.0. See design [here](https://github.com/blox/blox/blob/dev/docs/daemon_design.md)

[2017-08-16 18:39] #165 closed

[2017-08-16 18:41] shubharao commented on #192
@hridyeshpant  @pmanwatkar  Closing issue assuming this is resolved. If not, please reopen.

[2017-08-16 18:41] #192 closed, assigned to nobody

[2017-08-16 18:51] shubharao commented on #181
Assuming this is handled / not required in v1.0.

[2017-08-16 18:51] #181 closed

[2017-08-16 18:52] shubharao commented on #166
v1.0 docs [here](https://github.com/blox/blox/tree/dev/docs)

[2017-08-16 18:52] #166 closed

[2017-08-16 18:57] narehayrapetyan commented on #181
actually we should move this to amazon-ecs-cluster-state-service

[2017-08-16 19:02] shubharao commented on #164
Considered in design for v1.0. Details [here](blox/docs/daemon_design.md)

[2017-08-16 19:02] #164 closed

[2017-08-16 19:05] shubharao commented on #154
Some changes made in v0.3 and rest considered in the design for v1.0.

[2017-08-16 19:05] #154 closed

[2017-08-16 19:06] shubharao commented on #146
See details in v1.0 design [here](blox/docs/daemon_design.md)

[2017-08-16 19:06] #146 closed

[2017-08-16 19:08] wjbuys commented on #227
Okay, I've got something working using JSON-RPC. I'll open an RFC PR in my fork with my changes.

[2017-08-16 19:30] shubharao commented on #151
Blox v0.3.0 is now deprecated. See FAQ [here.](https://github.com/blox/blox/blob/dev/FAQ.md) If you are actively using v0.3.0, please [email us](mailto:ecs-blox-team@amazon.com) to work out a migration plan. If you have a critical issue in v0.3.0, please open a [new issue](https://github.com/blox/blox/issues/new).

[2017-08-16 19:30] #151 closed

[2017-08-16 19:51] shubharao commented on #47
Blox v1.0 is designed to be highly available. It will be built using other AWS services. See details in the [new design:](https://github.com/blox/blox/blob/dev/docs/daemon_design.md) sections [Service design](https://github.com/blox/blox/blob/dev/docs/daemon_design.md#service-design) and [Availability](https://github.com/blox/blox/blob/dev/docs/daemon_design.md#availability)

[2017-08-16 19:51] #47 closed

[2017-08-16 19:58] shubharao commented on #63
In v1.0, we'll enable Cloudwatch logging for all Blox APIs to record an audit trail of operations. Design details are [here](https://github.com/blox/blox/blob/dev/docs/daemon_design.md).

[2017-08-16 19:58] #63 closed

[2017-08-16 20:20] shubharao commented on #72
We have considered this feedback in the design of Blox v1.0. It is designed for HA as it uses other AWS services, it stores metadata in DynamoDB.  See design details [here](https://github.com/blox/blox/blob/dev/docs/daemon_design.md).

[2017-08-16 20:20] #72 closed

[2017-08-16 20:25] shubharao commented on #91
Handled in v1.0 design. See details [here](https://github.com/blox/blox/blob/dev/docs/daemon_design.md#updating-a-deployment)

[2017-08-16 20:25] #91 closed

[2017-08-16 20:30] shubharao commented on #134
Handled in design of Blox v1.0. Details [here](https://github.com/blox/blox/blob/dev/docs/daemon_design.md#deleting-an-environment)

[2017-08-16 20:30] #134 closed

[2017-08-16 20:41] wjbuys commented on #223
Fixed by #226

[2017-08-16 20:41] #223 closed, assigned to narehayrapetyan

[2017-08-16 20:54] narehayrapetyan opened #233 "DataService CreateEnvironment"
[PR#241](https://github.com/blox/blox/pull/241)

[2017-08-16 20:54] narehayrapetyan opened #234 "Dataservice startDeployment"
[PR#243](https://github.com/blox/blox/pull/243)

[2017-08-16 20:56] narehayrapetyan opened #235 "Scheduling Manager ddb stream processing"
[PR#249](https://github.com/blox/blox/pull/249)

[2017-08-16 20:56] narehayrapetyan opened #236 "Enable Dataservice dynamodb streams"
[PR#249](https://github.com/blox/blox/pull/249)

[2017-08-16 21:18] #224 closed, assigned to wjbuys

[2017-08-17 00:07] wjbuys commented on #227
I've opened an RFC PR for this in wjbuys/blox#1. @narehayrapetyan could you take a look and see if the shape is okay?

[2017-08-18 00:31] wjbuys opened #238 "Design cluster state handling"
### Background
In order to make scheduling decisions, the scheduling manager needs to know the state of the cluster being scheduled into at various points during scheduling.

The most straightforward approach to this, is to call `describeTasks`/`describeContainerInstances` for whatever cluster state we need in the scheduler, when we need it. However, these operations are fairly expensive, and it's

[2017-08-18 17:34] narehayrapetyan opened #239 "Dataservice GetEnvironment"
[PR#241](https://github.com/blox/blox/pull/241)

[2017-08-22 00:31] narehayrapetyan opened #242 "Mapstruct for object-object mappings"
Refactor Dataservice to use mapstruct for all object-object mappings instead of manual translators.

[2017-08-22 21:19] narehayrapetyan opened #244 "Manager start deployment stepfunctions workflow without state service"

[2017-08-22 21:36] narehayrapetyan opened #245 "Dataservice getdeployment"
[PR#243](https://github.com/blox/blox/pull/243)

[2017-08-22 21:45] narehayrapetyan opened #246 "Test DynamoDB schema assumptions/perf"
As discussed in [PR#231](https://github.com/blox/blox/pull/231) we should prototype and test out the following:

- if our hash key has an extremely small cardinality (i.e. DeploymentStatus alone), does this bottleneck our write performance on the main table? Or does it increase the eventual consistency window?
- what happens when we have a large number of deployments that do meet the criteria for

[2017-08-23 17:31] narehayrapetyan opened #247 "Set up Dataservice and Scheduling manager in Lambda and look into SAM local"

[2017-09-05 16:27] #245 closed, assigned to narehayrapetyan

[2017-09-05 16:28] #234 closed, assigned to narehayrapetyan

[2017-09-05 16:28] #236 closed, assigned to narehayrapetyan

[2017-09-05 16:29] #235 closed, assigned to narehayrapetyan

[2017-09-05 16:32] narehayrapetyan opened #250 "POC deployment/startTask workflows"
Implement stepfunctions workflows where the deployment workflow starts a startTask "subworkflow". Figure out waiting for task to come up.

[2017-09-05 16:39] narehayrapetyan opened #251 "POC update cluster state during deployment"
There are two options for handling new instances during a deployment:

* wait until deployment completes to deploy to new instances (i.e. deployment takes a snapshot of cluster state in the beginning and does not update its state)
* update deployment cluster state during a deployment (i.e. if a new instance joins during a deployment, the deployment workflow picks it up and deploys to it)

The latt

[2017-09-07 16:37] #247 closed, assigned to narehayrapetyan

[2017-09-07 16:41] narehayrapetyan opened #253 "One lambda function per workflow"
Instead of having to maintain and upload one lamdba function per workflow step, figure out how to use one lambda function.

We will need to
* encode inputs/outputs as streams and decode the correct object inside the function
* route inside the main function to the correct bean
* create an input to the main function that will allow us to determine which bean to route to

Having only one lambda func

[2017-09-13 22:35] narehayrapetyan commented on #253
[PR#254](https://github.com/blox/blox/pull/254)

[2017-09-13 22:35] #253 closed, assigned to narehayrapetyan

[2017-09-13 22:36] narehayrapetyan commented on #250
[PR#255](https://github.com/blox/blox/pull/255)

[2017-09-19 18:04] wjbuys commented on #227
We're pausing work on this until we actually need to make calls between lambda functions.

[2017-09-23 00:40] wjbuys opened #258 "Design top-level scheduler workflow"
The core scheduling logic of Blox is a piece of code that looks at the current state of the cluster, and makes decisions on how to change the cluster state in order to meet some goal. These decisions eventually result in changes being made to the cluster (i.e. through ECS `runTask`/`terminateTask` API calls).

There are a couple of approaches we can take to translate the scheduling decisions into

[2017-09-25 22:54] narehayrapetyan commented on #258
How does this work if there are thousands of tasks that need to be started? Is there some sort of breakdown?

One workflow that handles all the tasks?

All schedulers? Service, daemon etc? For every environment? Please expand.

[2017-09-26 00:57] wjbuys commented on #258
Discussed this in person with @narehayrapetyan, will update the pros/cons in the issue body. The outcome was that we'll take the first option (using a single scheduling function that directly calls the ECS control plane in parallel), since that has the fewest moving parts, and the drawbacks are only in terms of performance impact which can be mitigated in the control plane through `restart=always`

[2017-09-26 01:51] narehayrapetyan commented on #258
**Cluster State Retrieval**

The scheduling workflows will be kicked off by 3 events:

* cluster state changes received from the event stream
* cluster state reconciliation loops
* deployment record changes when deployments are created

All of these events will be triggered on lambda.

* event stream changes are received from cloud watch events and can invoke a lambda function to process them
* st

[2017-09-26 18:06] wjbuys commented on #258
I'll copy the above into #238, since that's what it mostly relates to

[2017-09-26 19:12] wjbuys commented on #238
We've explored combining cluster state with scheduler state in #258, and come to the conclusion that this intermediate state store would be too costly to build, for not enough benefit.

Next up is looking at current `list`/`describe` performance in the ECS control plane, and calculating what kind of scheduling latency we would get if we did cluster state polling, and what the latency targets for t

[2017-09-27 00:23] wjbuys commented on #238
Okay, I did a quick back of the envelope performance test fully describing ~4000 tasks on a small cluster of 5 instances in `us-west-2` from a Lambda function to see roughly what we can expect. It looks like it's around 15s for the whole cluster, or ~4ms per task. Since there's some parallelization going on this might not apply linearly for larger clusters.

[2017-09-27 00:58] wjbuys commented on #238
I've also been thinking about how we could query cluster state once per cluster, and then reuse that state to run the scheduling functions for multiple environments. Lambda functions have a limit of 6MB for the request body. I've tried serializing the snapshot of Task state from the above benchmark using Amazon Ion's binary representation, and that clocks in at ~2.5MB. If we omit fields that aren'

[2017-09-27 01:05] wjbuys commented on #238
Thinking about that a bit more, really all we need for cluster state from a scheduling perspective is (task_id, instance_id, status, attributes). We could easily serialize that to ~32 bytes, which would get us up to 100K tasks in a state payload. I think this could be a viable option for cluster state handling.

[2017-09-28 23:58] #258 closed, assigned to nobody

[2017-09-29 00:00] wjbuys commented on #238
Copying in @narehayrapetyan's summary from #258 here:

**Cluster State Retrieval**

The scheduling workflows will be kicked off by 3 events:

* cluster state changes received from the event stream
* cluster state reconciliation loops
* deployment record changes when deployments are created

All of these events will be triggered on lambda.

* event stream changes are received from cloud watch event

[2017-10-02 22:22] wjbuys commented on #238
Okay, here's a rough sketch of what the above could look like:

We wire up the two event sources to the scheduling manager function:

![image](https://user-images.githubusercontent.com/31602/31101005-a1d0c746-a780-11e7-8569-6e993c6c23d3.png)

This needs to parallelize over clusters, somehow. We can either do that before the manager (i.e. an additional lambda function consumes only the CWE Cron Eve

[2017-10-02 22:23] wjbuys opened #261 "Build scheduling manager steel thread"
The outcome from #238 was that we'll build the following:

We wire up the two event sources to the scheduling manager function:

![image](https://user-images.githubusercontent.com/31602/31101005-a1d0c746-a780-11e7-8569-6e993c6c23d3.png)

This needs to parallelize over clusters, somehow. We can either do that before the manager (i.e. an additional lambda function consumes only the CWE Cron Event, a

[2017-10-02 22:58] wjbuys commented on #261
We've discussed this, and we probably need to have a separate lambda function for the call from the reconciliation event, so that we can parallelize on all clusters. I'll update the description above.

[2017-10-02 23:12] wjbuys commented on #238
This should do for now, resolving this.

[2017-10-02 23:12] #238 closed, assigned to wjbuys

[2017-10-02 23:49] #221 closed, assigned to narehayrapetyan

[2017-10-02 23:57] narehayrapetyan opened #262 "CreateEnvironment DS"

[2017-10-02 23:57] narehayrapetyan opened #263 "DescribeEnvironment DS"

[2017-10-02 23:57] narehayrapetyan opened #264 "ListEnvironmentsByCluster DS"

[2017-10-03 00:08] #250 closed, assigned to narehayrapetyan

[2017-10-05 04:44] wjbuys commented on #261
Okay, I have this mostly working, but I've taken some shortcuts to get it all working in Lambda. I'll clean it up a bit tomorrow, and then start breaking off pull requests.

[2017-10-05 04:50] wjbuys commented on #261
As an aside, I've been trying to use the new AWS SDK v2 for Java, since it adds true non-blocking IO for downstream calls to Lambda using Netty. However, it looks like [the native `epoll` Netty channel doesn't work on Lambda](https://github.com/aws/aws-sdk-java-v2/issues/193). Performance using the `nio` channel as I've got it configured now doesn't quite get to 100s of connections, so I'll have t

[2017-10-05 23:49] wjbuys commented on #261
Here's the rough structure:

- `reconciler(CloudWatchEvent)` function: triggered by CloudWatch event. Calls `DataService.listClusters()` to get all clusters. Then concurrently invokes `state-dispatcher` for every cluster using non-blocking IO, and waits for all invocations to complete.
- `state-dispatcher(List<Cluster>)` function: triggered by `reconciler`. Calls ECS state facade to get full snaps

[2017-10-06 20:01] wjbuys commented on #261
I'm trying out using `InvocationType.Event` to fire off the state dispatcher function from the reconciler function, since it's taking ~30s to wait for those to complete with `InvocationType.RequestReply`. However, somehow this is not playing nice with Netty's async client:

[code]

[2017-10-09 20:40] #239 closed, assigned to narehayrapetyan

[2017-10-09 23:57] wjbuys commented on #261
I've opened aws/aws-sdk-java-v2#202 for the problem using the Async client for Event invocations.

[2017-10-11 19:02] narehayrapetyan opened #268 "ListClusters"

[2017-10-11 19:02] narehayrapetyan opened #269 "DescribeEnvironmentTargetVersion"

[2017-10-11 19:02] narehayrapetyan opened #270 "CreateEnvironmentTargetVersion"

[2017-10-11 19:03] narehayrapetyan opened #271 "StartDeployment"

[2017-10-24 17:36] #242 closed, assigned to narehayrapetyan

[2017-10-24 17:40] #251 closed, assigned to nobody

[2017-10-24 17:41] #246 closed, assigned to nobody

[2017-10-24 17:41] #244 closed, assigned to nobody

[2017-10-24 17:41] #233 closed, assigned to narehayrapetyan

[2017-10-24 17:41] #222 closed, assigned to narehayrapetyan

[2017-10-25 20:08] wjbuys commented on #227
Resuming work on this, since we have a need to run the DataService as an actual service, just rewriting the lambda bits to use the new AWS SDK.

[2017-10-25 20:09] wjbuys commented on #261
I've broken out the follow-up items into cards on our planning board, I'd consider this feature done once https://github.com/blox/blox/pull/275 is merged.

[2017-10-25 20:15] wjbuys opened #279 "Quickly deploy a development stack to AWS with `gradle deploy`"
At the moment, every component apart from the `frontend` has to be deployed ad-hoc by directly using `aws cloudformation package|deploy`. The goal of this story is to deploy a full stack of all Blox services to a personal/beta AWS account with a single command like `gradle deploy`.

This would allow us to have automated end-to-end tests that don't need manual steps to deploy code changes to the sy

[2017-10-25 20:33] wjbuys opened #280 "Wire up data service lambda function to frontend"
After we have some way of calling the DataService (see #227), we should wire this up to the Frontend.

Each data service client needs the following:
- the name of the data service's Lambda function
- permissions to invoke that Lambda function
- a correctly configured JsonRpcLambdaClient that can serialize/deserialize all dataservice types.

### Tasks
- [x] add createEnvironment, describeEnvironmen

[2017-10-25 23:30] wjbuys commented on #227
After some experimentation, it looks like the data service model has some fields that aren't serializable with Vanilla Jackson (i.e. the `Instant` type from JDK 8). This means we need some common way to add the same Jackson dependency (in this case ``) to both the server and the client, and provide an identically configured Jackson mapper (using `.registerModule()`). These should probably live in

[2017-10-26 19:49] #261 closed, assigned to wjbuys

[2017-10-26 21:47] wjbuys commented on #227
I took a stab at writing unit tests for these, but they don't seem super helpful since they're a pretty thin wrapper around the underlying JSON RPC library. I think it'll be fine to rely on DataService integration tests for verification here.

[2017-11-06 18:56] #227 closed, assigned to wjbuys

[2017-11-13 19:42] wjbuys commented on #280
I'm having some trouble expressing our API in swagger. If I try to structure things for the AWS IAM auth to just work, then the generated client is confusing.

The two constraints that are in tension are:
- Encoding resource names in the URL. This is needed for API Gateway's automatic authorization support. In particular, any attributes we wish to authorize on have to be part of the URL, so that i

[2017-11-13 21:44] wjbuys commented on #280
Ah, I've figured it out. Looks like we can pass `flattenRequests=true,flattenResponses=true` as parameters to the `aws apigateway get-sdk` command, and it will remove the superfluous wrapper object.

[2017-11-13 23:37] wjbuys commented on #280
Now I'm trying to figure out how to return modeled exceptions. There doesn't seem to be clear docs on how throwing exceptions from Spring's handler classes gets mapped to response entities. The best example I could find is [here](https://github.com/kongchen/swagger-maven-plugin/blob/02c0b48758278de493803855d51d0fd2d0bebb6d/src/test/java/com/wordnik/springmvc/PetResource.java#L72). However, that do

[2017-11-14 22:35] wjbuys commented on #280
More problems: when using a controller-wide `RequestMapping` to set up a common URL pattern for all calls, I have to include an explicit `"/"` in the path for the `RequestMapping` on the handler method:

[code]

This generates a URI path with a trailing `"/"` in the swagger yaml that looks like:
[code]

However, the client generated from the generated swagger seems to omit the trailing `"/"` from

[2017-11-14 22:59] wjbuys commented on #280
The above issue arises from [this line in the swagger generator](https://github.com/kongchen/swagger-maven-plugin/blob/master/src/main/java/com/github/kongchen/swagger/docgen/reader/SpringMvcApiReader.java#L422). It looks like omitting the path or value completely might trigger the right code path here.

[2017-11-14 23:02] wjbuys commented on #280
That works, omitting the `path = ""` attribute property completely triggers the correct swagger generation.

[2017-11-15 21:49] wjbuys commented on #280
I'm looking into exception mapping again. It looks like we can use non-exception error classes to generate the right swagger for exception outputs. However, it looks like the client code that's generated discards the name of the declared exception type, and uses the general name for the HTTP status code instead. For example, I've got this swagger definition:

[code]

But the client code generated

[2017-11-15 22:59] wjbuys commented on #280
It looks like this is a limitation of the current SDK generation code. I'm following up internally with the team responsible. For now, we'll have to deal with the mismatched exception classes.

[2017-11-21 13:47] annmarielarue commented on #46
Please help me..im sort of IA or something.  I dont like it.  I dont want to live this way.

[2017-12-28 22:09] wjbuys commented on #280
Apparently this limitation is intentional, and only one client-side Exception type per HTTP status code is supported. However, if we want to use custom-named exceptions, there's an undocumented parameter to the SDK generator that we can use to customize the exception name to match what's in our Swagger model:

[2017-12-28 22:15] wjbuys commented on #280
Just recording some more background here on why we have a mix of `*Request` POJOs and arguments with simple types on the frontend handlers, for example:

https://github.com/wjbuys/blox/blob/dcc96ab5a9d5d4d36001db984acab2aab47c4075/frontend-service/src/main/java/com/amazonaws/blox/frontend/operations/CreateEnvironment.java#L45-L55

Even though the Spring MVC controller supports annotating fields of

[2017-12-28 22:32] wjbuys commented on #279
Implemented in #289.

[2017-12-28 22:32] #279 closed, assigned to wjbuys

[2018-01-09 20:19] narehayrapetyan opened #315 "Exception mapping error between JsonRPCServer and client"
Exception mapping does not work correctly. The return payload on the JsonRPCLambdaServer side returns:
`
{"jsonrpc":"2.0","id":"1380430143","error":{"code":-32001,"message":"environment with id EnvironmentId(environmentName=testfd33348b-b0d2-4c9d-863b-c29792719376, accountId=12345678912, cluster=clustere57c7631-8441-4b27-990a-afd4bfef8b19) already exists","data":{"exceptionTypeName":"com.amazonaws

[2018-01-09 20:21] narehayrapetyan opened #316 "Blox deploy region override does not work"
./gradlew deploy always deploys to us-west-2 regardless of the configured region.

[2018-01-09 21:41] wjbuys commented on #316
Fixed in #317

[2018-01-09 22:15] wjbuys commented on #315
It looks like the default exception mapper in jsonrpc4j only supports exceptions with no-argument or message-argument constructors:

https://github.com/briandilley/jsonrpc4j/blob/d749762c9295b92d893677a8c7be2a14dd43b3bb/src/main/java/com/googlecode/jsonrpc4j/DefaultExceptionResolver.java#L56-L89

Since the `ResourceExistsException` class takes the resourceId and resourceType as string arguments, i

[2018-01-09 22:21] #316 closed, assigned to nobody

[2018-01-09 22:29] wjbuys commented on #315
So, I think it's worth trying to add a simple Jackson-based ErrorResolver (for serialization) and ExceptionMapper (for deserialization) to handle exceptions the same way that requests/responses are handled. But if this turns out to be more complicated than expected, we'll have to think of another way to deal with this.

[2018-01-18 02:14] #271 closed, assigned to nobody

[2018-01-25 22:02] #262 closed, assigned to nobody

[2018-01-25 22:02] #263 closed, assigned to nobody

[2018-01-25 22:02] #264 closed, assigned to nobody

[2018-01-25 22:02] #268 closed, assigned to nobody

[2018-01-25 22:02] #269 closed, assigned to nobody

[2018-01-25 22:02] #270 closed, assigned to nobody

[2018-01-25 22:04] wjbuys commented on #280
We're doing more fine-grained tracking on our team sprint board, resolving this for now.

[2018-01-25 22:04] #280 closed, assigned to wjbuys

[2018-01-30 19:52] #315 closed, assigned to wjbuys

[2018-02-22 20:51] dramaticlly opened #379 "Missing dynamodb permission on recommended IAM user policy"
Unable to create cloudformation stack "Data Service" due to

`User: arn:aws:iam::$AWSACCOUNTID:user/blox is not authorized to perform: dynamodb:DescribeTable on resource: arn:aws:dynamodb:us-west-2:388892025991:table/Environments`

The recommended IAM user policy on dev branch [README.md](https://github.com/blox/blox/blob/dev/README.md) used

    {
        "Version":"2012-10-17",
        "Statemen

[2018-02-22 21:04] dramaticlly commented on #379
also `ecs:*` permission for blox-test-cluster stack

errorMessage: `
User: arn:aws:iam:: $AWSACCOUNTID:user/blox is not authorized to perform: ecs:CreateCluster on resource: *
`

[2018-02-23 05:20] wbingli commented on #379
Could you add those permissions and have a pull request?  Ideally we can use some managed policies to  simplify the rules, like `AWSLambdaFullAccess`, `AmazonEC2ContainerServiceFullAccess`.  This user is used for creating stacks, deployment and testing,  it's basically an admin user.  I basically use my default admin user for this profile.

[2018-07-05 17:35] yrsurya commented on #67
Any information on when V1.0 of blox is going to be release?

[2018-11-23 15:58] miked0004 opened #383 "Current repository state, Dev versus Master"
This has a long of useful functionality and is referenced in AWS docs and blogs.
In looking at the master branch, the last release from master was cut on on 15-Mar-2017 and the dev branch is far beyond master with significant changes.

Is this project still maintained and what is the plan?

Thank you
Mike

[2019-04-18 22:14] koenpunt commented on #383
I'd like to know this as well. Although I'm afraid Amazon has shifted their development efforts to EKS..

[2019-11-01 18:40] bhavnat30 opened #384 "Blox for custom algorithm"
Hi,
I am using Blox to create a custom scheduler that runs on an algorithm to identify the containers to place in which nodes. But I am not able to understand where to write my custom algorithm in Blox so that it runs on ECS ?

[2020-02-05 00:05] PettitWesley commented on #384
Hey @bhavnat30 I don't work on Blox... but I'm pretty sure this project isn't actively maintained anymore... Sorry.

[2020-02-05 00:13] PettitWesley commented on #383
@koenpunt We're still actively developing Amazon ECS and care deeply about it!

[See our roadmap](https://github.com/aws/containers-roadmap/issues?q=is%3Aissue+is%3Aopen+label%3AECS)

Blox however unfortunately is no longer maintained...

[2020-02-05 15:51] koenpunt commented on #383
It might be good to archive this repository; https://help.github.com/en/github/creating-cloning-and-archiving-repositories/archiving-repositories

[2021-06-25 12:20] Madina-S opened #385 "Example code for using errorResolver instead of annotating the method with @JsonRpcErrors and exception specifications"